
  <% @posts.each do |post| %>
    <div class="row">
        <div class="span9 text-center header-bar">
          <h2><%= link_to post.header, post %></h2>
          <i><%= datetime_format(post.created_at) %></i>
          <% if not current_user.nil? %>
            <p>
              <%= link_to 'Show', post %> | <%= link_to 'Edit', edit_post_path(post) %> | <%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %>
            </p>
          <% end %>
        </div>
        <div class="span9"><%= post.post.lines.first.html_safe %>
        </div>

        </div>
  <% end %>


<br>

<% if not current_user.nil? %>
  <%= link_to 'New Post', new_post_path %>
<% end %>