<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Peanut" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Peanut" %>">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <header>
      <%= render 'layouts/navigation' %>
    </header>
    <main role="main">
      <div class="container header-box">
        <h1 class="top-header">PeanutNetworks</h1>
        <p class="description lead">Tähän ehk jotain joskus :D</p>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-sm-8">
            <%= render 'layouts/messages' %>
            <%= yield %>
          </div>
        </div>
      </div>
    </main>
  <footer class="footer">
    &copy; PeanutNetworks 2017
  </footer>
  </body>
</html>
